# .NET build output
bin/
obj/
app_debug.log

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.userosscache

# Rider
.idea/

# NuGet
*.nupkg
packages/

# OS files
Thumbs.db
.DS_Store

appsettings.local.json
.env

# Published output
publish/
